.catalog-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.catalog-item{
    width: 290px;
    border: #e7e7e7 solid 1.5px;
}

.catalog-item img{
    width: 290px;
}

.catalog-item-info h4{
    color: #E15000;
    font-size: 20px;
    font-weight: 600;
}

.catalog-item-info p{
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

.catalog-item-info h5{
    color: #E15000;
    font-size: 18px;
    margin-bottom: 10px;
}

.catalog-item-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0px 20px 15px;
}

.catalog{
    margin: 100px 0px;
}

.product-btn{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    height: 35px;
}

.catalog-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


@media (max-width: 1400px) and (min-width: 700px) {
    .catalog-header{
        display: flex;
        align-items: center;
    }

    .catalog-items{
        gap: 20px;
    }

    .catalog-item{
        width: 250px;
    }

    .catalog-item img{
        width: 250px;
    }
}